.panel {
	width:500px;
	padding:40px;
	position:fixed;
	left:-580px;
	top:29.5%;
	z-index:1;
    background:#f2f2f2;
    border-radius:0 0 5px 0;
}

.panel .trigger {
	width:50px;
	text-align:center;
	color:#fff;
	background-color:#888;
	position:absolute;
	top:0;
	right:-45px;
	padding:20px 0 20px 2px;
	border-radius:0 5px 5px 0;
}



/*
	Winner/Loser Messages
*/

.winnerMessage {
	display:inline;
	text-align:center; /* center horizontally */
    vertical-align:middle; /* center vertically */
	position:absolute;
	top:40%;
	left:40%;
	font-size:10em;
	font-weight:bold;
	-webkit-animation: pulseWin 5s ease-in-out 0 infinite alternate;
	-moz-animation: pulseWin 5s ease-in-out 0 infinite alternate;	
}	

.loserMessage {
	display:inline;
	text-align:center; /* center horizontally */
    vertical-align:middle; /* center vertically */
	position:absolute;
	top:40%;
	left:40%;
	font-size:10em;
	font-weight:bold;
	-webkit-animation: pulseLose 3s ease-in-out 0 infinite alternate;
	-moz-animation: pulseLose 3s ease-in-out 0 infinite alternate;
}

/*
	Animations
*/
@-webkit-keyframes spinz
{
from {-webkit-transform: rotatey(0deg)}
to {-webkit-transform:rotatey(360deg)}
}

@-moz-keyframes spinz 
{
from {-moz-transform: rotatey(0deg)}
to {-moz-transform:rotatey(360deg)}
}

@-webkit-keyframes pulseLose
{
from {-webkit-transform: scale(1,1); color:#EEE}
to {-webkit-transform:scale(1.5,1.5); color:#E44}
}

@-moz-keyframes pulseLose
{
from {-moz-transform: scale(1,1); color:#EEE}
to {-moz-transform:scale(1.5,1.5); color:#E44}
}

@-webkit-keyframes pulseWin
{
from {-webkit-transform: scale(1,1); color:#EEE}
to {-webkit-transform:scale(1.5,1.5); color:#4E4}
}

@-moz-keyframes pulseWin
{
from {-moz-transform: scale(1,1); color:#EEE}
to {-moz-transform:scale(1.5,1.5); color:#4E4}
}

/*
	Card Styling
*/
.card {
	
	position:relative;
	margin:2px;
	width:100px;
	height:134px;
	display:inline-block;
	text-align:left;

}

.card .cardPlayer {
	text-shadow:0.1em 0.1em #333;
}

.card img {
	width:100%;
	height:100%;
	border-radius:5px;
	margin:0;
	padding:0;
}

.card .cardPoints {
	color:#EEE;
	background-color:#555;
	position:absolute;
	border-radius:5px;
	padding:5px;
	top:100%;
	left:0%;
}

#trumpSuitDisplay .card {
	width:70px;
	height:88px;
	padding:0;
	margin:0;
}
#trumpSuitDisplay {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
#trumpSuitDisplay h3 {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
#trumpSuitDisplay table {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

#container {
	width:900px;
	margin-left:auto;
	margin-right:auto;
}

#dealButton, #checkInButton, #declareButton {
	background-image: linear-gradient(bottom, rgb(237,171,57) 0%,   rgb(255,207,125) 50%, rgb(237,171,57) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(237,171,57) 0%,   rgb(255,207,125) 50%, rgb(237,171,57) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(237,171,57) 0%,   rgb(255,207,125) 50%, rgb(237,171,57) 100%);
	padding:5px;
	border-radius:5px;
	text-decoration:none !important;
	color:#000;
	cursor:pointer;
	border-width:0;
	font-weight:bold !important;
}

#gamePointChart {
	background-color:#AAA;
	border-radius:5px;
	z-index:1000;
}

#gamePointChart > h3 {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

#gamePointChart .diffPoints {
	font-weight:bold;
	font-size:150%;
}

#gamePointChart .playerPointChart  > * {
	display:inline-block;
	padding:5px;
	margin:5px;
}

#playerTooltip {
	position:absolute;
	border-radius:5px;
	height:20px;
	overflow:hidden;
	text-align:center;
	background-image: -webkit-linear-gradient(bottom, rgb(237,171,57) 0%,   rgb(255,207,125) 50%, rgb(237,171,57) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(237,171,57) 0%,   rgb(255,207,125) 50%, rgb(237,171,57) 100%);
}

#players {
	background-image: -webkit-linear-gradient(bottom, rgb(237,171,57) 0%,   rgb(255,207,125) 50%, rgb(237,171,57) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(237,171,57) 0%,   rgb(255,207,125) 50%, rgb(237,171,57) 100%);
	border-radius:5px;
	clear:both;
	height:100px;
}

.player.active .playerName{
	-webkit-animation: spinz 5s ease-in-out 0 infinite alternate;
	-moz-animation: spinz 5s ease-in-out 0 infinite alternate;
}

.player.active {
	background-image: linear-gradient(bottom, rgb(57,200,57) 0%,   rgb(255,207,125) 50%, rgb(237,171,57) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(57,200,57) 0%,   rgb(255,207,125) 50%, rgb(237,171,57) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(57,200,57) 0%,   rgb(255,207,125) 50%, rgb(237,171,57) 100%);
}

.player {
	vertical-align:top;
	margin:0;
	padding:0;
	display:inline-block;
	width:24%;
	height:100%;
	border-radius:5px;
	border-width:2px;
	border-color:#fA5;
	border-right-style:solid;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.playerName {
	font-weight:bold;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.playerTrickScore {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	font-size:1.8em;
	font-weight:bold;
	color:#111;
}

.playerGameScore {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

#hand, #trick{
	margin-left:auto;
	margin-right:auto;
	width:900px;
	background-color:rgba(125,200,125,0.6);
	height:200px;
	clear:both;
	border-radius:5px;
	text-align:center;
}

#hand h3, #trick h3 {
	opacity:1.0;
	margin-left:auto;
	margin-right:auto;
}


.clear {
	clear:both;	
}

#statusMessage {
	clear:both;
}

body {
	background-image:url('/assets/images/Felt-Green.jpg');
	background-repeat:repeat;
	font-family: Century Gothic, sans-serif;
	color:#FFF;
}

#mask {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#000;
	z-index:1000;
	display:none;
}
