@(games : List[Game], activeGames : List[Game])

@main{
	<h1>Spitzer Online</h1>
	<form method="post" action="@routes.GameController.host()">
		<input  id="hostGameButton" type="submit" value="Host New Game">
	</form>
	<div id="openGames">
		<h3>Open Games</h3>
			@for(game <- games) {
				<div class="game">
					<a class="gameLink" href="@routes.GameController.join(game.id)">@game.name</a>
					<div class="playerCount">@game.getNumberOfPlayers() / 4</div>
				</div>
			}
	</div>
	<div id="activeGames">
		<h3>Joined Games</h3>
		@for(game <- activeGames) {
			<div class="game">
				<a class="gameLink" href="@routes.GameController.view(game.id)">@game.name</a>
				<div class="playerCount">@game.getNumberOfPlayers() / 4</div>
			</div>
		}
	</div>
}
